<% if current_user %>

<%= erb :'/user/nav' %>
<div class="likes">
  <% @likes.each do |like| %>
    <div class="liked-quote">
      <div class="quote-content">
        “<%= like.quote_content %>”
      </div>
      <div class="quote-author">
        - <em><%= like.quote_author %></em> <a href="/quote/<%= like.quote_id %>" class="link-button-link">link</a>
      </div>
      <form action="/likes/delete/<%= like.id %>" method="POST" class="like-form">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Remove">
      </form>
    </div>
  <% end %>
</div>
<% else %>
<% redirect "/" %>
<% end %>