<% if current_user %>

<%= erb :'/user/nav' %>
  <% if @submitted.length == 0 %>
  You have not submitted any quotes yet.
  <% else %>
  <% @submitted.each do |submit| %>
    <div class="submitted">
      <div class="quote-content">
        “<%= submit.content %>”
      </div>
      <div class="quote-author">
        - <em><%= submit.author %></em> <a href="/quote/<%= submit.id %>" class="link-button-link">link</a>
      </div>
      <a href="submitted/delete/<%= submit.id%>" class="button-link">Delete</a>
  </div>
  <% end %>
  <% end %>

<% end %>
