<% if current_user %>

<%= erb :'/user/nav' %>
<br /><br />
<div class="user-profile">
  <span class="purtify">Name</span>
  <%= @user.name %>
  <br /><br />
  <span class="purtify">Account Created</span>
  <%= minutes_in_words(@user.created_at) %> ago
  <br /><br /><br />
</div>
<div class="profile-div">
  <p>
  <span class="purtify">Submits</span> <br />
  <% @user.submitted_quotes.each do |submit| %>
    <div class="prof-quote-content">
     “<%= submit.content %>”
    </div>
    <div class="prof-quote-author">
    - <em><%= submit.author %></em> <a href="/quote/<%= submit.id %>" class="link-button-link">link</a>
    </div>
  <% end %>
</p>
<p>
  <span class="purtify">Likes</span> <br /><br />
  <% @user.liked_quotes.each do |like| %>
  <div class="prof-quote-content">
    “<%= like.quote_content %>”
  </div>
  <div class="prof-quote-author">
    - <em><%= like.quote_author %></em> <a href="/quote/<%= like.quote_id %>" class="link-button-link">link</a>
  </div>
  <% end %>
</p>
</div>
<% end %>
