<% if current_user %>

<%= erb :'/user/nav' %>

  <% @quotes.each do |quote| %>
  <div class="all-quotes">
    <div class="quote-content">
      “<%= quote.content %>”
    </div>
    <div class="quote-author">
      - <em><%= quote.author %></em> <a href="/quote/<%= quote.id %>" class="link-button-link">link</a>
    </div>
    <div class="like-link">
      <form action="/likes" method="POST" class="like-form">
        <input type="hidden" name="like[quote_id]" value="<%= quote.id %>">
        <input type="submit" value="Like ♥">
      </form>
    </div>
    </div>
  <% end %>

<% end %>
